<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
        "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
  <beans>
        <bean id="student" class="com.grioui.javaBrain.Student">
            <property name="name" value="mohammed Amine Grioui"></property>
            <property name="stoff" ref="stoffA"></property>
        </bean>
        
         <bean id="stoffA" class="com.grioui.javaBrain.Stoff">
            <property name="name" value="Math"/>
            <property name="numberDays"  value="6"/>
        </bean>
  
  </beans>